{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "singleQuote": false,
        "quoteProps": "preserve"
      }
    }
  ]
}
